.app-container {
    display:flex;
    flex-direction: column;
}
.add-btn {
   align-self: flex-end;
}

label {
    display: block;
}

label div {
    display: inline-block;
    width: 200px;
}

.input-form {
    width:500px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}


