.car-table {
    width:100%;
    border: 1px solid black;
}

.manufacturer, .make, .model {
    width: 25%;
    text-align: left;
    cursor: pointer;
}

.manufacturer-cell {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.year, .edit-delete {
    width:12.5%;
    text-align: right;
}

.edit-delete {
    width:12.5%;
    text-align: center;
}

.fs-icon {
    margin-left: 12px;
    margin-right: auto;
}
